p, li, div {
    font-family: 'Roboto', sans-serif;
    font-size : 20px;
}
svg {
    width: 24px;
    height: 24px;
}
svg.black path{
    fill:black;
}
svg path{
    fill:white;
}
div#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 7fr;
}
#maincontent{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 150px auto ;
}
#projects{
    padding-top: 30px;
    padding-left: 20px;
    grid-column-start: 1;
    grid-row: 2 / 4;
}
#announcements{
    grid-column-start: 2;
    grid-row-start: 2;
}
#trendings{
    grid-column-start: 2;
    grid-row-start: 3;
}
